*{
    font-family: 'Segoe UI';
}

body {
    margin: 0;
}   

.header {
    display: flex;
    width: 100%;
    background: url(../Mídia/headerIMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #daa520 solid 5px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center; 
    height: 150px;
    align-items: center;
    justify-content: center;
}

li b {
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

ul img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #35c119;
    transition: 0.3s all;
} 

.banner {
    width: 100%;
    height: 600px;
    border-bottom: #daa520 solid 5px;
}

.imgPai {
    display: flex;
    height: 100%;
}

.imgpai2 {
    display: flex;
    margin-left: 2px;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.fundacao {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent 0%, #000000 80%), url(../Mídia/fundacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1975px;
    height: 595px;
    text-align: center;
    justify-content: end;
    transition: all 0.3s ease-in-out;
}

.fundacao:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.fundacao:hover > .fundacao:not(:hover) {
    opacity: 0.5;
}

.fundacao span {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    color: #ffffff;
}

.fundacao h3 {
    color: #ffffff;
}

.maiorCampeao {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent 0%, #000000 80%), url(../Mídia/maiorCampeao.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 295px;
    text-align: center;
    justify-content: end;
    transition: all 0.3s ease-in-out;
}

.maiorCampeao:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.maiorCampeao:hover > .maiorCampeao:not(:hover) {
    opacity: 0.5;
}

.maiorCampeao span {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    color: #ffffff;
}

.maiorCampeao h4 {
    color: #ffffff;
}

.torcida {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent 0%, #000000 80%), url(../Mídia/torcida.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 298px;
    margin-top: 2px;
    text-align: center;
    justify-content: end;
    transition: all 0.3s ease-in-out;
}

.torcida:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.torcida:hover > .torcida:not(:hover) {
    opacity: 0.5;
}

.torcida span {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    color: #ffffff;
}

.torcida h4 {
    color: #ffffff;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    color: #ffffff;
    font-size: 40px;
    width: 300px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

p span {
    font-weight: 800;
    color: #f4e2cc;
    -webkit-text-stroke-color: #2a2016;
    -webkit-text-stroke-width: 1px;
}

.social {
    background-color: #e6e1de;
    height: 550px;
}

.container h1 {
    display: flex;
    flex-direction: row;
}

.nossoSis {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #271d13;
    color: #006437;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nossoSis2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-weight: 800;
}

.sobremimPalm {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.sobremimPalmTxt {
    width: 40%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 70px;
}

.sobremimPalmImg {
    background-image: url(../Mídia/Allianz_Parque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 441px;
    height: 351px;
    box-shadow:  10px 15px 10px #444242;
}

/* FOOTER */

.footer {
    background-color: #006437;
    border-top: #daa520 solid 5px;
    height: 100px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

  .footer .container {
      justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 12px;
}
      
.navBar {
    width: 450px;
    display: flex;
    list-style: none;
    color: #2a2016;
    justify-content: space-between;
    font-size: 17px;
    padding: 40px 40px 40px 40px;
    text-align: center;
    margin-right: 230px;
}

.imgLogo {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 165px;
    width: 215px;
}

.chamarCadastroTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 50%;
    background-color: #e6e1de;
}

.chamarCadastroImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: url(https://media.giphy.com/media/jnbbZjVdd5G3XMkEWn/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -20px 0px 30px  rgb(104, 102, 102);
}

.chamarCadastro {
    display: flex;
    height: 550px;
    width: 100%;
    border-bottom: #daa520 solid 5px;
}

.chamarCadastroTxt button {
    margin-top: 10px;
    background-image: linear-gradient(to right, #006437 , #daa520);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 20px;
    width: 200px;
    align-self: center;
    cursor: pointer;
    box-shadow:  2px 8px 2px #000000;
    font-family: monospace;
    transition: all 0.3s ease-in-out;
}

.chamarCadastroTxt button:hover {
    transition: 0.3s all;
    color: #35c119;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.chamarCadastroTxt button:hover > .chamarCadastroTxt button:not(:hover) {
    opacity: 0.5;
}

.chamarCadastroTxt h1 {
    color: #006437;
}