.geral {
    display: flex;
    width: 100vw;
}

.headerLateral {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid #daa520;
    background-image: linear-gradient(rgb(255, 255, 255),#006437, #006437);
}

.conteudo {
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    height: 100vh;
    overflow: auto;
    text-align: center;
    background-color: #e6e1de; 
}

.buttonOp button {
    border: solid 2px #daa520;
    height: 50px;
    width: 150px;
    font-family: monospace;
    -webkit-text-stroke-width: 1px;
    transition: all 0.3s ease-in-out;
}

.buttonOp button:hover {
    transition: 0.3s all;
    color: #35c119;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.buttonOp button:hover > .buttonOp button:not(:hover) {
    opacity: 0.5;
}

.logout {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    color: white;
    border-radius: 20px;
    background-color: #006437;
    height: 50px;
    width: 180px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.logout:hover {
    transition: 0.3s all;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logout:hover > .logout:not(:hover) {
    opacity: 0.5;
}

.imgLogout {
    width: 40px;
    height: 40px;
}

.buttonOp {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.button2 {
    margin-top: 20px;
}

.headerLateral h3 {
    color: white;
    margin-top: 80px;
}

.imgsJogadores {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.imgsJogadores img {
    height: 200px;
    width: 150px;
    size: cover;
}

.PerguntasPai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

.selectQuiz {
    height: 50px;
    width: auto;
    text-align: center;
    font-weight: 800;
    border-radius: 10px;
    border: #daa520 solid 2px;
    color: #006437;
    box-shadow:  5px 5px 10px #444242;
    transition: all 0.3s ease-in-out;
}

.selectQuiz:hover {
    transition: 0.3s all;
    transform: scale(1.05);
}

.selectQuiz:hover > .selectQuiz:not(:hover) {
    opacity: 0.5;
}

.opQuiz {
    font-weight: 800;
    color: #006437;
}

.ABCD {
    display: flex;
    flex-direction: column;
    text-align: start;
}

h4 {
    color: #006437;
}

.ABCDpai {
    display: flex;
    justify-content: space-evenly;
}

.Alternativas2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.Pergunta2 {
    height: 445px;
    width: 700px;
    margin-top: 20px;
    background-color: #e6e1de;
    border: #006437 solid 5px;
    box-shadow:  10px 15px 10px #444242;
    transition: all 0.3s ease-in-out;
}

.Pergunta2:hover {
    transition: 0.3s all;
    transform: scale(1.05);
}

.Pergunta2:hover > .Pergunta2:not(:hover) {
    opacity: 0.5;
}

.Pergunta2 h2 {
    margin-left: 5px;
    margin-right: 5px;
}

.resultadoQuiz {
    width: 100%;
    margin-top: 40px;
}

.buttonResultado {
    border: solid 2px #daa520;
    height: 50px;
    width: 150px;
    font-family: monospace;
    -webkit-text-stroke-width: 1px;
    transition: all 0.3s ease-in-out;
}

.buttonResultado:hover {
    transition: 0.3s all;
    color: #35c119;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.buttonResultado:hover > .buttonResultado:not(:hover) {
    opacity: 0.5;
}